$purple:  #5440da;
$midnight: #33374c;
$red: #ff7866;
$sky: #92c2c3;
$green: #80cb9e;
$yellow: #ffb55e;

//Make classes for each color for stroke and fill
$colors: (
  purple: $purple,
  midnight: $midnight,
  red: $red,
  sky: $sky,
  green: $green,
  yellow: $yellow
);

@each $color, $value in $colors {
  .#{$color} {
    fill: $value;
    stroke: $value;
  }
}


@import "./css/loadingScreen";
@import "./css/audioBtn";
@import "./css/ui-elements";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap');



body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d7e9e9;
  position: relative;
  height: 100%;
  width: 100%;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.external-link {
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  bottom: 15px;
  right: 15px;
  a {
    position: relative;
    color: white;
    opacity: 0.8;
    font-family: "Titillium Web", sans-serif;
    text-decoration: none;
    z-index: 99999;
    transition: all 0.3s ease-in-out;


    &:hover {
      opacity: 1;
      text-decoration: underline;
      
    }


  }
    @media screen and (max-width: 1000px) {
     bottom: 5px; 
     font-size: 15px;
     a {
      color: white;
     }

    }



}

#controlPanel {
  background-color: rgba($color: #000000, $alpha: 0.5);
  position: absolute;
  color: white;
  z-index: 9999;
  width: 250px;
  height: 100px;
  max-height: 500px;
  top: 0;
  right: 0;
  padding: 1rem;

  .btn {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 25px 50px;
  }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ba55d3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ff00ff;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.screenshot {

  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  left: 50%;
  object-fit: contain;
  object-position: center center;
}
